db.url=jdbc:mysql://localhost:3306/metro_it?useSSL=false&allowPublicKeyRetrieval=true&connectionTimeZone=LOCAL&preserveInstants=false
db.username=YOUR_DATABASE_USERNAME
db.password=YOUR_DATABASE_PASSWORD
db.driver=com.mysql.cj.jdbc.Driver
